Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

Add dependabot for grafana/plugin-sdk-go (#357)
  .github/dependabot.yml
  cspell.config.json
Due: spellcheck

add keyword
  src/plugin.json
Due: spellcheck

Chore: Update plugin.json keywords (#359)
  src/plugin.json
Due: spellcheck

remove test spam
  pkg/testdata/data.go
Due: backend-format, spellcheck

fix: update tests for FrameTypeVersion
  pkg/server/test/property_value_history_test.go
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
Due: backend-format, spellcheck

fix: update grafana-aws-sdk for grafana-plugin-sdk-go compatibility
  go.mod
  go.sum
Due: none

chore: Update packages and remove simple deprecations
  package.json
  src/appendFrames.ts
  src/components/query/QueryEditor.tsx
  src/dataFrameUtils.ts
  yarn.lock
Due: frontend-lint, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/components/query/visual-query-builder/types.ts
  src/variables.ts
Due: frontend-lint, spellcheck

feat: Rough container to switch between query editor and builder
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/module.ts
  src/types.ts
Due: frontend-lint, spellcheck

feat: Working CodeEditor
  pkg/framer/fields/fields.go
  pkg/framer/fields/util.go
  pkg/models/model.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

dependabot PR needed 'go mod tidy'
  go.mod
Due: none

feat: Run SQL queries on backend
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
  pkg/framer/list_asset_properties.go
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/datasource.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

chore: sitewiseCache tests
  src/dataRequestResponses.ts
  src/migrations/migrateQuery.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

feat: Auto completion for raw code editor
  cspell.config.json
  package.json
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/handlers.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/dataRequestResponses.ts
  src/language/autoComplete.ts
  src/language/macros.ts
  src/types.ts
  tests/configEditor.spec.ts
  yarn.lock
Due: frontend-lint, backend-format, spellcheck

chore: Macros, Macro tests and Handler Tests
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/server/handlers_test.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/property-history-values-boolean-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-associated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-empty-response-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-table-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
  pkg/testdata/property-history-values-with-batched-queries-A.golden.jsonc
Due: backend-format, spellcheck

feat: Interpolation of raw query
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/language/macros.ts
Due: frontend-lint, backend-format, spellcheck

fix: Remove asset_root_id from asset fields
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/language/autoComplete.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
  tests/configEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

chore: Raw Editor FE tests
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

feat: Resolution macro
  pkg/framer/execute_query.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/language/macros.ts
Due: frontend-lint, backend-format, spellcheck

chore: Documentation
  docs/editor-switch.png
  src/README.md
Due: spellcheck

Chore: group dependabot updates on weekly interval
  .github/dependabot.yml
Due: spellcheck

Update .github/dependabot.yml
  .github/dependabot.yml
Due: spellcheck

fix yml
  .github/dependabot.yml
Due: spellcheck

Chore: group dependabot updates on weekly interval (#371)
  .github/dependabot.yml
Due: spellcheck

go mod tidy and add go.mod to exceptions
  cspell.config.json
  go.mod
Due: none

remove ArrayVector
  src/appendFrames.ts
  src/dataFrameUtils.ts
Due: frontend-lint, spellcheck

npx @grafana/create-plugin@latest update
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/jest-setup.js
  .config/jest.config.js
  .config/jest/mocks/react-inlinesvg.tsx
  .config/tsconfig.json
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  package.json
Due: frontend-lint, spellcheck

use eslint 9
  .eslintrc
  cspell.config.json
  eslint.config.mjs
Due: none

fix test
  .config/jest/mocks/react-inlinesvg.tsx
  package.json
  src/appendFrames.ts
  src/dataFrameUtils.ts
  yarn.lock
Due: frontend-lint, spellcheck

prepare release 1.25.1
  CHANGELOG.md
  package.json
Due: none

prepare release 1.25.1 (#376)
  CHANGELOG.md
  package.json
Due: none

automated release 1.25.1
  dist/plugin.json
Due: spellcheck

Bump the all-node-dependencies group across 1 directory with 20 updates (#382)
  package.json
  yarn.lock
Due: none

Migrate to plugin-ui
  package.json
  src/components/ConfigEditor.tsx
  src/components/query/ClientCacheRow.tsx
  src/components/query/ListAssetsQueryEditor.tsx
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/PropertyQueryEditor.tsx
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.tsx
  src/components/query/QueryOptions.tsx
  yarn.lock
Due: frontend-lint, spellcheck

update grafana dep
  src/plugin.json
Due: spellcheck

feat: support asset selection by external id
  src/components/query/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

Prepare release 1.25.2
  CHANGELOG.md
  package.json
Due: none

Prepare release 1.25.2 (#392)
  CHANGELOG.md
  package.json
Due: none
