Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

exclude grafana dependencies from cooldown
  .github/dependabot.yml
Due: spellcheck

Remove pr_commands
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: spellcheck

Remove pr_commands (#505)
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: spellcheck

fix interpolated property value next token
  go.mod
  go.sum
  pkg/framer/property_interpolated.go
  pkg/sitewise/client/client.go
Due: backend-format, spellcheck

fix interpolated property value next token (#506)
  go.mod
  go.sum
  pkg/framer/property_interpolated.go
  pkg/sitewise/client/client.go
Due: backend-format, spellcheck

Prepare release 2.3.0
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

Prepare release 2.3.0 (#508)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

Add support for auto-merging dependabot updates
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e.yml
  cspell.config.json
  package.json
  yarn.lock
Due: spellcheck

add cooldown for github actions ecosystem
  .github/dependabot.yml
Due: spellcheck

Add support for auto-merging dependabot updates (#497)
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e.yml
  cspell.config.json
  package.json
  yarn.lock
Due: spellcheck

Run e2e tests with plugin workflows
  .github/workflows/e2e.yml
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
Due: spellcheck

Fix typo
  .github/workflows/push.yaml
Due: spellcheck

Try with dotenv config
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  package.json
  tests/configEditor.spec.ts
  yarn.lock
Due: frontend-lint, spellcheck

Move env stuff to playwright config
  playwright.config.ts
  tests/configEditor.spec.ts
Due: frontend-lint, spellcheck

gitignore
  .gitignore
Due: none

Run e2e tests with plugin workflows (#519)
  .github/workflows/e2e.yml
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  .gitignore
  package.json
  playwright.config.ts
  yarn.lock
Due: frontend-lint, spellcheck

Added support for grafana variables in executeQuery requests and auto… (#501)
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

Changed the time value from timestamp to date in macros - #486 (#495)
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  pkg/util/time.go
  pkg/util/time_test.go
Due: backend-format, spellcheck

force synckit and @pkgr/core versions
  yarn.lock
Due: none

add downstream error source in failed request and unmarshalling
  pkg/server/server.go
Due: backend-format, spellcheck

update version
  package.json
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

remove downstream error on unmarshalling
  pkg/server/server.go
Due: backend-format, spellcheck

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
  pkg/server/server.go
Due: backend-format, spellcheck

add downstream error source in failed reques (#539)
  CHANGELOG.md
  package.json
  pkg/server/server.go
Due: backend-format, spellcheck

Implemented SQL Query Builder with clause components, raw SQL generation, dynamic function args, state handling, and complete test coverage.
  cspell.config.json
  jest-setup.js
  src/SitewiseDataSource.ts
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/sql-query-builder/QueryPreviewDisplay.test.tsx
  src/components/query/sql-query-builder/QueryPreviewDisplay.tsx
  src/components/query/sql-query-builder/SqlQueryBuilder.tsx
  src/components/query/sql-query-builder/StyledLabel.test.tsx
  src/components/query/sql-query-builder/StyledLabel.tsx
  src/components/query/sql-query-builder/VariableSuggestInput.test.tsx
  src/components/query/sql-query-builder/VariableSuggestInput.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/GroupByClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/GroupByClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/HavingClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/HavingClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/OrderByClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/OrderByClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
  src/components/query/sql-query-builder/hooks/useSQLQueryState.test.ts
  src/components/query/sql-query-builder/hooks/useSQLQueryState.ts
  src/components/query/sql-query-builder/types.ts
  src/components/query/sql-query-builder/utils/queryGenerator.test.ts
  src/components/query/sql-query-builder/utils/queryGenerator.ts
  src/components/query/sql-query-builder/utils/validateQuery.test.ts
  src/components/query/sql-query-builder/utils/validateQuery.ts
  src/types.ts
  src/variables.test.ts
  src/variables.ts
Due: frontend-lint, spellcheck

Change action
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
Due: spellcheck

Prepare release 2.3.2
  CHANGELOG.md
  package.json
Due: none

Prepare release 2.3.2 (#542)
  CHANGELOG.md
  package.json
Due: none

Tweak dependabot schedule
  .github/dependabot.yml
Due: spellcheck

Fix dependabot ignore location for npm dependencies
  .github/dependabot.yml
Due: spellcheck

Temporarily disable playwright and prepare 2.3.3
  .github/workflows/publish.yaml
  CHANGELOG.md
  package.json
Due: spellcheck

Test action fix
  .github/workflows/publish.yaml
Due: spellcheck

Update changelog
  CHANGELOG.md
Due: none

2.3.1
  CHANGELOG.md
  package.json
Due: none

Rerelease 2.3.1 (#545)
  CHANGELOG.md
  package.json
Due: none

Tweak dependabot schedule (#543)
  .github/dependabot.yml
Due: spellcheck

Update workflows and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/issue-commands.yml
  cspell.config.json
Due: spellcheck
