Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

Upgrade yarn to v4.10.3 (#599)
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  .nvmrc
  .yarn/releases/yarn-4.10.3.cjs
  .yarnrc.yml
  cspell.config.json
  package.json
  yarn.lock
Due: spellcheck

Refactored SQL Builder UI: updated ConfirmModal, query preview, and error display with Text component; added htmlFor/inputId and removed initial load error.
  src/SitewiseQueryEditor.tsx
  src/components/query/sql-query-builder/QueryPreviewDisplay.test.tsx
  src/components/query/sql-query-builder/QueryPreviewDisplay.tsx
  src/components/query/sql-query-builder/SqlQueryBuilder.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/GroupByClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
  src/components/query/sql-query-builder/hooks/useSQLQueryState.test.ts
  src/components/query/sql-query-builder/hooks/useSQLQueryState.ts
  src/components/query/sql-query-builder/utils/queryGenerator.test.ts
  src/components/query/sql-query-builder/utils/queryGenerator.ts
  src/components/query/sql-query-builder/utils/validateQuery.test.ts
  src/components/query/sql-query-builder/utils/validateQuery.ts
Due: frontend-lint, spellcheck

Lint errors are fixed
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
Due: frontend-lint, spellcheck

Update gitignore for yarn files
  .gitignore
Due: none

Added alert for Query Preview and removed unnecessary async from function and updated related calls
  src/components/query/sql-query-builder/QueryPreviewDisplay.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
  src/components/query/sql-query-builder/hooks/useSQLQueryState.test.ts
  src/components/query/sql-query-builder/hooks/useSQLQueryState.ts
  src/components/query/sql-query-builder/utils/queryGenerator.test.ts
  src/components/query/sql-query-builder/utils/queryGenerator.ts
Due: frontend-lint, spellcheck

Remove red text color from the error message in the alert preview
  src/components/query/sql-query-builder/QueryPreviewDisplay.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
Due: frontend-lint, spellcheck

Update gitignore for yarn files (#607)
  .gitignore
Due: none

Mode drodown text changed to Builder, Builder(sql), Code(sql).
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

added support for selecting all columns in Select clause and changed Where clause error state to info message
  src/SitewiseQueryEditor.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
  src/components/query/sql-query-builder/hooks/useSQLQueryState.ts
  src/components/query/sql-query-builder/types.ts
  src/components/query/sql-query-builder/utils/queryGenerator.ts
  src/components/query/sql-query-builder/utils/validateQuery.test.ts
  src/components/query/sql-query-builder/utils/validateQuery.ts
Due: frontend-lint, spellcheck

conflicts resolved for cspell.config.json and jest-setup.js file.
  cspell.config.json
  jest-setup.js
Due: frontend-lint

Fix typo in cspell
  cspell.config.json
Due: none

Add field to spell config
  cspell.config.json
Due: none

Feature: SQL Query Builder with clause components to generate rawSQL (#541)
  cspell.config.json
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/sql-query-builder/QueryPreviewDisplay.test.tsx
  src/components/query/sql-query-builder/QueryPreviewDisplay.tsx
  src/components/query/sql-query-builder/SqlQueryBuilder.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/GroupByClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/GroupByClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/HavingClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/HavingClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/LimitClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/OrderByClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/OrderByClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/WhereClauseEditor.tsx
  src/components/query/sql-query-builder/hooks/useSQLQueryState.test.ts
  src/components/query/sql-query-builder/hooks/useSQLQueryState.ts
  src/components/query/sql-query-builder/types.ts
  src/components/query/sql-query-builder/utils/queryGenerator.test.ts
  src/components/query/sql-query-builder/utils/queryGenerator.ts
  src/components/query/sql-query-builder/utils/validateQuery.test.ts
  src/components/query/sql-query-builder/utils/validateQuery.ts
  src/types.ts
Due: frontend-lint, spellcheck

Enabled Builder(SQL) and code editor
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

Publish to every environment on Cloud and Add On-Prem promotion
  .github/workflows/publish.yaml
Due: spellcheck

Readme content added for sql builder.
  docs/query-builder.png
  docs/query-builder2.png
  docs/sources/_index.md
Due: spellcheck

Modify the readme content for sql builder section
  docs/sources/_index.md
Due: spellcheck

Publish to every environment on Cloud and Add On-Prem promotion (#626)
  .github/workflows/publish.yaml
Due: spellcheck

Enabled Builder(SQL) and Code (SQL) for sitewise. (#625)
  docs/query-builder.png
  docs/query-builder2.png
  docs/sources/_index.md
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

Prepare 2.4.0
  CHANGELOG.md
  package.json
Due: none

Prepare 2.4.0 (#629)
  CHANGELOG.md
  package.json
Due: none

Enabled region for SQL builder
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

Enabled region for SQL builder (#632)
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

Prepare release 2.4.1
  CHANGELOG.md
  package.json
Due: none

Prepare release 2.4.1 (#636)
  CHANGELOG.md
  package.json
Due: none

Fix CI workflows
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
Due: spellcheck

Fix CI workflows (#638)
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
Due: spellcheck

Update SDKs and Prepare release 2.4.2
  go.mod
  go.sum
Due: none

Prepare release 2.4.2
  CHANGELOG.md
  package.json
Due: none

Update SDKs and Prepare release 2.4.2 (#639)
  CHANGELOG.md
  go.mod
  go.sum
  package.json
Due: none

Implement JSON string parsing to extract anomaly-related fields for property query type
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

Update to use self-hosted renovate and remove dependabot
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-reviewer.yml
Due: spellcheck

bump plugin-e2e to fix e2e tests
  package.json
  yarn.lock
Due: none

use prod environment for cd workflow
  .github/workflows/publish.yaml
Due: spellcheck

Update to use self-hosted renovate and remove dependabot (#656)
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-reviewer.yml
  package.json
  yarn.lock
Due: spellcheck

Update grafana-aws-sdk to 1.4.2
  go.mod
  go.sum
Due: none

update @grafana/plugin-e2e
  package.json
  yarn.lock
Due: none

Update grafana-aws-sdk to 1.4.2 (#657)
  go.mod
  go.sum
  package.json
  yarn.lock
Due: none

Updated the PR changes diagnostic property name changes. Error handling for the corrupted JSON.Skip timestamp and handle anomaly_score explicitly
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

use prod environment for cd workflow (#658)
  .github/workflows/publish.yaml
Due: spellcheck
