Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

automated release 1.25.2
  dist/plugin.json
Due: spellcheck

fix: list associated assets query fields
  src/components/query/PropertyQueryEditor.tsx
  src/components/query/QueryEditor.test.tsx
Due: frontend-lint, spellcheck

fix: update e2e tests for list associated assets query
  tests/queryEditor.model.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

Chore: update docker compose to support improved backend development
  .bra.toml
  .config/.cprc.json
  .config/Dockerfile
  .config/webpack/webpack.config.ts
  .vscode/launch.json
  cspell.config.json
  docker-compose.yaml
  go.mod
  go.sum
  package.json
Due: frontend-lint, spellcheck

feat: asset field tooltip
  src/components/query/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

Update documentation
  CONTRIBUTING.md
  docker-compose.yaml
  package.json
Due: none

fix: list associated assets query fields (#394)
  src/components/query/PropertyQueryEditor.tsx
  src/components/query/QueryEditor.test.tsx
  tests/queryEditor.model.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

Chore: update docker compose to support improved backend development (#397)
  .bra.toml
  .config/.cprc.json
  .config/Dockerfile
  .config/webpack/webpack.config.ts
  .vscode/launch.json
  CONTRIBUTING.md
  cspell.config.json
  docker-compose.yaml
  go.mod
  go.sum
  package.json
Due: frontend-lint, spellcheck

Filter out invalid queries in variable editor
  src/SitewiseDataSource.test.ts
  src/variables.test.ts
  src/variables.ts
Due: frontend-lint, spellcheck

Cleanup test
  src/SitewiseDataSource.test.ts
  src/variables.test.ts
Due: frontend-lint, spellcheck

Add other query types to default
  src/variables.ts
Due: frontend-lint, spellcheck

Bugfix: Filter out invalid queries in variable editor (#399)
  src/variables.test.ts
  src/variables.ts
Due: frontend-lint, spellcheck

fix: check for asset id as template variable
  src/components/query/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

feat: support asset selection by external id (#390)
  src/components/query/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

client_test is no longer useful
  pkg/sitewise/client/client_test.go
Due: backend-format, spellcheck

Test fixes
  pkg/resource/caching_resource_provider_test.go
  pkg/server/test/describe_asset_model_test.go
  pkg/server/test/describe_asset_test.go
  pkg/server/test/list_asset_models_test.go
  pkg/server/test/list_asset_properties_test.go
  pkg/server/test/list_assets_test.go
  pkg/server/test/list_associated_assets_test.go
  pkg/server/test/property_value_aggregate_test.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_interpolated_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/server_test.go
  pkg/sitewise/auth_test.go
Due: backend-format, spellcheck

More test fixes
  pkg/framer/describe_asset.go
  pkg/framer/describe_asset_model.go
  pkg/framer/list_asset_models.go
  pkg/framer/list_assets.go
  pkg/framer/list_associated_assets.go
  pkg/framer/property_value.go
  pkg/framer/property_value_batch.go
  pkg/framer/property_value_history_batch.go
  pkg/framer/util.go
  pkg/sitewise/auth.go
  pkg/sitewise/datasource.go
  pkg/testdata/describe-asset-A.golden.jsonc
  pkg/testdata/describe-asset-B.golden.jsonc
  pkg/testdata/describe-asset-model-A.golden.jsonc
  pkg/testdata/list-assets-A.golden.jsonc
  pkg/testdata/list-associated-assets-parent-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1d-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1d-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1h-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1h-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-reduced-max-data-point-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-reduced-max-data-point-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/property-history-values-boolean-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-associated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-table-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
  pkg/testdata/property-history-values-with-batched-queries-A.golden.jsonc
Due: backend-format, spellcheck

Spell check
  cspell.config.json
  pkg/sitewise/client/client.go
Due: backend-format, spellcheck

chore: Update packages and remove simple deprecations
  package.json
  src/components/query/QueryEditor.tsx
  src/dataFrameUtils.ts
  yarn.lock
Due: frontend-lint, spellcheck

feat: Working CodeEditor
  pkg/framer/fields/fields.go
  pkg/framer/fields/util.go
  pkg/models/model.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/components/query/visual-query-builder/types.ts
  src/variables.ts
Due: frontend-lint, spellcheck

feat: Run SQL queries on backend
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
  pkg/framer/list_asset_properties.go
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/datasource.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

feat: Rough container to switch between query editor and builder
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/module.ts
  src/types.ts
Due: frontend-lint, spellcheck

chore: Update packages and remove simple deprecations
  src/components/query/QueryEditor.tsx
  src/dataFrameUtils.ts
Due: frontend-lint, spellcheck

chore: rebase main
  src/dataFrameUtils.ts
Due: frontend-lint, spellcheck

fix: execute query test
  pkg/sitewise/api/execute_query_test.go
Due: backend-format, spellcheck

fix: tests
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

Chore: add label to external contributions
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: spellcheck

chore: sitewiseCache tests
  src/dataRequestResponses.ts
  src/migrations/migrateQuery.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

feat: Auto completion for raw code editor
  cspell.config.json
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/handlers.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/dataRequestResponses.ts
  src/language/autoComplete.ts
  src/language/macros.ts
  src/types.ts
  tests/configEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck
