Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

Update dependencies
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Update jest.config.js
  jest.config.js
Due: frontend-lint

Update dependencies (#832)
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

fix(api): don't send empty nextToken when batched queries finish paginating
  pkg/sitewise/api/util.go
  pkg/sitewise/api/util_internal_test.go
Due: backend-format, spellcheck

fix(api): don't send empty nextToken when batched IoT SiteWise queries finish paginating (#831)
  pkg/sitewise/api/util.go
  pkg/sitewise/api/util_internal_test.go
Due: backend-format, spellcheck

Fixed out of SLO CVEs
  package.json
  yarn.lock
Due: none

Fixed out of SLO CVEs (#834)
  package.json
  yarn.lock
Due: none

Bump version
  CHANGELOG.md
  package.json
Due: none

Added word to cspell
  cspell.config.json
Due: none

Bump version (#835)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

Forward per-datasource Grafana external ID into awsauth.Settings
  go.mod
  go.sum
  pkg/models/setting.go
  pkg/sitewise/datasource.go
  pkg/sitewise/datasource_external_id_test.go
Due: backend-format, spellcheck

added additional troubleshooting
  docs/sources/alerting.md
  docs/sources/troubleshooting.md
Due: spellcheck

fix(security): bump out-of-SLO serialize-javascript to 7.0.7
  package.json
  yarn.lock
Due: none

Bump @grafana/aws-sdk to 0.12.1 for namespace external ID fallback
  package.json
  yarn.lock
Due: none

fix(security): bump terser-webpack-plugin to 5.6.1 dropping serialize-javascript
  package.json
  yarn.lock
Due: none

fix(security): bump out-of-SLO serialize-javascript to 7.0.7 (#837)
  package.json
  yarn.lock
Due: none

Prepare release 2.6.2
  CHANGELOG.md
  package.json
Due: none

Prepare release 2.6.2 (#838)
  CHANGELOG.md
  package.json
Due: none

chore: use npm as package manager
  .github/workflows/detect-breaking-changes.yml
  .gitignore
  .npmrc
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  cspell.config.json
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: spellcheck

chore: pin node 24.19.0 and regenerate package-lock
  .nvmrc
  package-lock.json
Due: none

babysit: fix set-state-in-effect lint error
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

babysit: type property aliases as SelectableValue
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/variables.ts
Due: frontend-lint, spellcheck

chore: resolve npm peer dependencies
  .npmrc
  package-lock.json
  package.json
Due: none

updates based on developer feedback
  docs/sources/configure.md
  docs/sources/query-editor.md
Due: spellcheck

chore: align npm version metadata
  package.json
Due: none

Chore: Use npm as package manager (#839)
  .github/workflows/detect-breaking-changes.yml
  .gitignore
  .npmrc
  .nvmrc
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  cspell.config.json
  lefthook.yml
  package-lock.json
  package.json
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/variables.ts
  yarn.lock
Due: frontend-lint, spellcheck

docs: add timeend and jsonencode to cspell dictionary
  cspell.config.json
Due: none

Docs: Updated data source docs for IoT Sitewise (#826)
  cspell.config.json
  docs/Makefile
  docs/docs.mk
  docs/make-docs
  docs/sources/_index.md
  docs/sources/alerting.md
  docs/sources/annotations.md
  docs/sources/configure.md
  docs/sources/query-editor.md
  docs/sources/template-variables.md
  docs/sources/troubleshooting.md
  docs/variables.mk
Due: spellcheck

fix(security): bump fast-uri to 3.1.7
  package-lock.json
Due: none

Prepare release 2.6.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add PR number to 2.6.3 changelog
  CHANGELOG.md
Due: none

fix(security): bump fast-uri to 3.1.7 and prepare 2.6.3 (#840)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(deps): resolve CVEs in npm dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(deps): resolve CVEs in npm dependencies (#841)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix CVEs
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix CVEs (#844)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
