Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

feat: Field name autocompletion on raw code editor
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

fix: Undefined error constant
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
Due: backend-format, spellcheck

feat: Convert event_timestampt to a time value
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

chore: Update Readme to include necessary transforms
  docs/data_missing_time_field.png
  docs/data_transforms.png
  docs/table_view_of_data.png
  src/README.md
  src/SitewiseDataSource.ts
Due: frontend-lint, spellcheck

chore: rebase main and update dependencies
  package.json
  yarn.lock
Due: none

chore: Fix tests
  pkg/sitewise/macros_test.go
Due: backend-format, spellcheck

feat/fix: Improved code completion and bugfix
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

chore: Update Readme and clarify auto complete code
  docs/data_transforms.png
  docs/editor-switch.png
  docs/timeseries_data.png
  src/README.md
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

feat: Example queries in plugin Readme
  src/README.md
Due: spellcheck

refac: Remove @grafana/experimental
  package.json
  src/SitewiseQueryEditor.tsx
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/language/macros.ts
  yarn.lock
Due: frontend-lint, spellcheck

feat: Region selector for raw query editor
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Support future / correct types
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

chore: Clean up code as requested in !418
  cspell.config.json
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/fields.go
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/types.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

fix: Account for event_timestamp values in seconds
  pkg/framer/execute_query.go
Due: backend-format, spellcheck

refac: Clean up RawQueryEditor
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Clean up Raw / SitewiseQueryEditor
  package.json
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  yarn.lock
Due: frontend-lint, spellcheck

refac: Use InlineSelect from grafana/plugin-ui
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Give a working query as an example for the rawTimeFrom macro
  src/README.md
Due: spellcheck

fix: isValidQuery broken for listAssets
  src/variables.test.ts
  src/variables.ts
Due: frontend-lint, spellcheck

add variable interpolation for model id
  src/SitewiseDataSource.ts
  src/components/browser/BrowseHierarchy.tsx
  src/components/query/ListAssetsQueryEditor.tsx
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

fix: isValidQuery broken for listAssets and listAssetModels (#425)
  src/variables.test.ts
  src/variables.ts
Due: frontend-lint, spellcheck

feat: add variable support for resolution
  pkg/server/test/property_values_for_time_range_test.go
  pkg/sitewise/api/propvals/resolution_picker.go
  pkg/sitewise/api/propvals/resolution_picker_test.go
  pkg/testdata/time.go
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/common/getSelectionInfo.ts
  src/common/getVariableOptions.ts
  src/components/query/AggregationSettings/AggregatePicker.tsx
  src/components/query/AggregationSettings/AggregationSettings.tsx
  src/components/query/PropertyQueryEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

wip-tag-filter
  pkg/models/setting.go
  pkg/sitewise/api/filtering_util.go
  pkg/sitewise/api/get_resources_tags.go
  pkg/sitewise/api/list_assets.go
  pkg/sitewise/api/list_associated_assets.go
  pkg/sitewise/api/test_data_test.go
  pkg/sitewise/client/tagging_api_client.go
  pkg/sitewise/datasource.go
  src/components/ConfigEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

spell
  cspell.config.json
Due: none

Use isListAssetsQuery
  src/SitewiseDataSource.ts
Due: frontend-lint, spellcheck

chore: Further cleanup
  pkg/framer/execute_query.go
  src/sitewiseCache.ts
Due: frontend-lint, backend-format, spellcheck

Add variable interpolation for model id (#428)
  src/SitewiseDataSource.ts
  src/components/browser/BrowseHierarchy.tsx
  src/components/query/ListAssetsQueryEditor.tsx
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

fix: Page through ExecuteQuery results
  pkg/framer/execute_query.go
  pkg/sitewise/api/execute_query.go
Due: backend-format, spellcheck

fix: Ensure default raw query is set in later versions of Grafana
  src/SitewiseDataSource.ts
  src/components/query/query-editor-raw/RawQueryEditor.tsx
Due: frontend-lint, spellcheck

Add variable interpolation for model id (#428)
  src/SitewiseDataSource.ts
  src/components/browser/BrowseHierarchy.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
Due: frontend-lint, spellcheck

refac: Remove @grafana/experimental
  package.json
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  yarn.lock
Due: frontend-lint, spellcheck

chore: rebase main
  yarn.lock
Due: none

feat: support for 15m auto resolution
  pkg/server/test/property_values_for_time_range_test.go
  pkg/sitewise/api/propvals/resolution_picker.go
  pkg/sitewise/api/propvals/resolution_picker_test.go
  pkg/testdata/time.go
Due: backend-format, spellcheck

Feat: Add support for 15min resolution; Improve UI in dropdowns for variables and add support for variables in Resolution (#429)
  pkg/server/test/property_values_for_time_range_test.go
  pkg/sitewise/api/propvals/resolution_picker.go
  pkg/sitewise/api/propvals/resolution_picker_test.go
  pkg/testdata/time.go
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/common/getSelectionInfo.ts
  src/common/getVariableOptions.ts
  src/components/query/AggregationSettings/AggregatePicker.tsx
  src/components/query/AggregationSettings/AggregationSettings.tsx
  src/components/query/PropertyQueryEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

chore: Update packages and remove simple deprecations
  src/components/query/QueryEditor.tsx
  src/dataFrameUtils.ts
  yarn.lock
Due: frontend-lint, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/components/query/visual-query-builder/types.ts
  src/variables.ts
Due: frontend-lint, spellcheck

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
