Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

use main
  .github/workflows/issue-commands.yml
  .github/workflows/pr-commands.yml
Due: spellcheck

add vault tokens and zizmor config (#475)
  .github/workflows/issue-commands.yml
  .github/workflows/pr-commands.yml
  .github/zizmor.yml
Due: spellcheck

Chore: Update github workflows and add zizmor (#472)
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/e2e.yml
  .github/workflows/issue-commands.yml
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: spellcheck

add support for edge
  cspell.config.json
  go.mod
  go.sum
  pkg/framer/property_value_history.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

Update test
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
Due: frontend-lint, spellcheck

add id-token permission to pr-commands workflow
  .github/workflows/pr-commands.yml
Due: spellcheck

Prepare 2.2.1 release
  CHANGELOG.md
  package.json
Due: none

Prepare 2.2.1 release (#479)
  CHANGELOG.md
  package.json
Due: none

automated release 2.2.1
  dist/plugin.json
Due: spellcheck

Chore: migrate to github actions for publishing
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

Migrate to new v2-style auth mechanism of grafana-aws-sdk
  cspell.config.json
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

add support for edge
  cspell.config.json
  go.mod
  pkg/framer/property_value_history.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

Bump grafana-aws-sdk for workspace IAM roles fix
  go.mod
  go.sum
Due: none

Fixed SiteWise Query Timestamp Support in Code Editor #486
  pkg/sitewise/api/execute_query.go
  pkg/util/time.go
Due: backend-format, spellcheck

Migrate actions
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
Due: spellcheck

Fix lint errors and warnings
  .prettierrc.js
  eslint.config.mjs
  package.json
  src/RelativeRangeRequestCache/cacheIdUtils.ts
  src/SiteWiseQueryPaginator.test.ts
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/common/useOptionsWithVariables.ts
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/migrations/migrateQuery.ts
  src/queryInfo.ts
  src/regions.ts
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

Fix typecheck
  package.json
  src/SiteWiseQueryPaginator.test.ts
  src/sitewiseCache.ts
  yarn.lock
Due: frontend-lint, spellcheck

Golangci-lint
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  .golangci.yml
  pkg/models/model.go
  pkg/models/setting.go
  pkg/resource/caching_resource_provider.go
  pkg/server/last-observation.go
  pkg/sitewise/api/test_data_test.go
  pkg/sitewise/auth.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

Don't throw error in resource calls, return undefined
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

Fix golang lint
  pkg/sitewise/api/list_associated_assets.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

Chore: Migrate to Github actions + migrate to eslintv9 (#493)
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  .golangci.yml
  .prettierrc.js
  eslint.config.mjs
  package.json
  pkg/models/model.go
  pkg/models/setting.go
  pkg/resource/caching_resource_provider.go
  pkg/server/last-observation.go
  pkg/sitewise/api/list_associated_assets.go
  pkg/sitewise/api/test_data_test.go
  pkg/sitewise/auth.go
  pkg/sitewise/datasource.go
  src/RelativeRangeRequestCache/cacheIdUtils.ts
  src/SiteWiseQueryPaginator.test.ts
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/common/useOptionsWithVariables.ts
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/migrations/migrateQuery.ts
  src/queryInfo.ts
  src/regions.ts
  src/sitewiseCache.ts
  yarn.lock
Due: frontend-lint, backend-format, spellcheck

Changed the time value from timestamp to date in macros - #486
  pkg/sitewise/macros.go
  pkg/util/time.go
Due: backend-format, spellcheck

Chore: Update CONTRIBUTING.md with release instructions
  CONTRIBUTING.md
Due: none

Chore: Update CONTRIBUTING.md with release instructions (#496)
  CONTRIBUTING.md
Due: none

Fix: 492 issue
  src/SitewiseDataSource.ts
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

Add PDC Support
  Magefile.go
  package.json
  pkg/sitewise/datasource.go
  src/components/ConfigEditor.tsx
  yarn.lock
Due: frontend-lint, backend-format, spellcheck

Add PDC Support (#491)
  Magefile.go
  package.json
  pkg/sitewise/datasource.go
  src/components/ConfigEditor.tsx
  yarn.lock
Due: frontend-lint, backend-format, spellcheck

Add support for auto-merging dependabot updates
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e.yml
  cspell.config.json
  package.json
  yarn.lock
Due: spellcheck

Added support single select variables in execute query-492
  src/SitewiseDataSource.ts
Due: frontend-lint, spellcheck

Console removed
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

console removed
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

Added support for multi-select Grafana variable filtering- #492
  src/SitewiseDataSource.ts
Due: frontend-lint, spellcheck

Added support for grafana variables in executeQuery requests and auto suggestion grafana variables #492
  src/SitewiseDataSource.ts
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

Added testcases for grafana variables in executeQuery - #492
  src/SitewiseDataSource.test.ts
Due: frontend-lint, spellcheck

add cooldown for github actions ecosystem
  .github/dependabot.yml
Due: spellcheck

Added testcases for GetFormattedTimeRange functions
  pkg/sitewise/macros_test.go
  pkg/util/time_test.go
Due: backend-format, spellcheck
