Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

Fix script
  .eslintcache
  .gitignore
  cspell.config.json
  lefthook.yml
Due: none

Add lefthook to cspell
  cspell.config.json
Due: none

Chore: update dependencies (#337)
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/entrypoint.sh
  .config/jest-setup.js
  .config/jest/mocks/react-inlinesvg.tsx
  .config/supervisord/supervisord.conf
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .github/workflows/detect-breaking-changes.yml
  .nvmrc
  docker-compose.yaml
  package.json
  src/DataSource.ts
  src/SiteWiseQueryPaginator.ts
  src/components/ConfigEditor.test.tsx
  src/components/browser/hierarchy/AssetHierarchyList.tsx
  src/components/query/PropertyQueryEditor.tsx
  src/components/query/QueryEditor.test.tsx
  src/getNextQueries.ts
  src/sitewiseCache.ts
  yarn.lock
Due: frontend-lint, spellcheck

Release 1.23.0
  CHANGELOG.md
  package.json
Due: none

feat: add list time series to query editor
  pkg/framer/fields/field_names.go
  pkg/framer/fields/fields.go
  pkg/framer/list_time_series.go
  pkg/models/asset.go
  pkg/models/query.go
  pkg/server/datasource.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/api/list_time_series.go
  pkg/sitewise/datasource.go
  src/RelativeRangeRequestCache/cacheIdUtils.test.ts
  src/RelativeRangeRequestCache/cacheIdUtils.ts
  src/RelativeRangeRequestCache/types.ts
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/QueryEditor.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

feat: add list time series to query editor (#336)
  pkg/framer/fields/field_names.go
  pkg/framer/fields/fields.go
  pkg/framer/list_time_series.go
  pkg/models/asset.go
  pkg/models/query.go
  pkg/server/datasource.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/api/list_time_series.go
  pkg/sitewise/datasource.go
  src/RelativeRangeRequestCache/cacheIdUtils.test.ts
  src/RelativeRangeRequestCache/cacheIdUtils.ts
  src/RelativeRangeRequestCache/types.ts
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/QueryEditor.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

update changelog
  CHANGELOG.md
Due: none

spellcheck
  cspell.config.json
Due: none

Release 1.23.0 (#340)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

automated release 1.23.0
  dist/plugin.json
Due: spellcheck

Remove ANY option for interpolated property quality
  pkg/sitewise/api/property_interpolated.go
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.test.tsx
Due: frontend-lint, backend-format, spellcheck

fix spelling
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.test.tsx
Due: frontend-lint, spellcheck

kevin comments
  src/components/query/QualityAndOrderRow.tsx
Due: frontend-lint, spellcheck

Remove ANY option for interpolated property quality (#342)
  pkg/sitewise/api/property_interpolated.go
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.test.tsx
Due: frontend-lint, backend-format, spellcheck

Remove unused fields from Get property value query editor
  src/components/query/QueryEditor.test.tsx
  src/components/query/QueryOptions.tsx
  src/types.ts
Due: frontend-lint, spellcheck

fix e2e tests
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

Remove unused fields from Get property value query editor (#343)
  src/components/query/QueryEditor.test.tsx
  src/components/query/QueryOptions.tsx
  src/types.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

Update packagejson
  package.json
  yarn.lock
Due: none

Fix build issue
  cspell.config.json
  package.json
  yarn.lock
Due: none

Add precommit hook (#338)
  .gitignore
  cspell.config.json
  lefthook.yml
  package.json
  yarn.lock
Due: none

Rename datasource file
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/components/MetaInspector.tsx
  src/components/browser/AssetBrowser.tsx
  src/components/query/QueryEditor.test.tsx
  src/components/query/QueryEditor.tsx
  src/components/query/types.ts
  src/module.ts
  src/sitewiseCache.ts
  src/variables.ts
Due: frontend-lint, spellcheck

Update docker-compose
  .github/workflows/e2e.yml
  cspell.config.json
Due: spellcheck

Chore: Rename datasource file (#344)
  .github/workflows/e2e.yml
  cspell.config.json
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/components/MetaInspector.tsx
  src/components/browser/AssetBrowser.tsx
  src/components/query/QueryEditor.test.tsx
  src/components/query/QueryEditor.tsx
  src/components/query/types.ts
  src/module.ts
  src/sitewiseCache.ts
  src/variables.ts
Due: frontend-lint, spellcheck

Remove ANY as option
  pkg/sitewise/api/property_aggregate.go
  pkg/sitewise/api/property_aggregate_batch.go
  pkg/sitewise/api/property_history.go
  pkg/sitewise/api/property_history_batch.go
  pkg/sitewise/api/property_interpolated.go
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.test.tsx
Due: frontend-lint, backend-format, spellcheck

Remove "ANY" as a query quality option (#347)
  pkg/sitewise/api/property_aggregate.go
  pkg/sitewise/api/property_aggregate_batch.go
  pkg/sitewise/api/property_history.go
  pkg/sitewise/api/property_history_batch.go
  pkg/sitewise/api/property_interpolated.go
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.test.tsx
Due: frontend-lint, backend-format, spellcheck

fix: migrate asset id on the frontend in the query editor
  src/components/query/QueryEditor.tsx
  src/migrations/migrateQuery.test.ts
  src/migrations/migrateQuery.ts
Due: frontend-lint, spellcheck

fix: migrate asset id on the frontend in the query editor (#350)
  src/components/query/QueryEditor.tsx
  src/migrations/migrateQuery.test.ts
  src/migrations/migrateQuery.ts
Due: frontend-lint, spellcheck

Fix golangci-lint errors
  pkg/models/setting.go
  pkg/sitewise/auth.go
Due: backend-format, spellcheck

Fix golangci-lint errors (#353)
  pkg/models/setting.go
  pkg/sitewise/auth.go
Due: backend-format, spellcheck

fix: add check for nil for property value
  pkg/framer/property_value.go
  pkg/framer/property_value_batch.go
  pkg/framer/property_value_history.go
  pkg/framer/property_value_history_batch.go
Due: backend-format, spellcheck

fix: add check for nil for property value (#352)
  pkg/framer/property_value.go
  pkg/framer/property_value_batch.go
  pkg/framer/property_value_history.go
  pkg/framer/property_value_history_batch.go
Due: backend-format, spellcheck

Release 1.24.0
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

Release 1.24.0 (#354)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

automated release 1.24.0
  dist/plugin.json
Due: spellcheck

wip: batch entries up to limit the limit specified in the api
  cspell.config.json
  pkg/framer/property_aggregate_batch.go
  pkg/framer/property_value_batch.go
  pkg/framer/property_value_history_batch.go
  pkg/server/test/property_value_aggregate_test.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/sitewise/api/constants.go
  pkg/sitewise/api/property_aggregate_batch.go
  pkg/sitewise/api/property_history_batch.go
  pkg/sitewise/api/property_value_batch.go
  pkg/sitewise/api/util.go
  pkg/testdata/prop-val-for-time-range-1d-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1d-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1h-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1h-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-reduced-max-data-point-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-reduced-max-data-point-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/property-history-values-boolean-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-associated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-empty-response-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-table-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
  pkg/testdata/property-history-values-with-batched-queries-A.golden.jsonc
  src/getNextQueries.ts
Due: frontend-lint, backend-format, spellcheck

Fix: batch entries up to the limit specified in the API (#355)
  cspell.config.json
  pkg/framer/property_aggregate_batch.go
  pkg/framer/property_value_batch.go
  pkg/framer/property_value_history_batch.go
  pkg/server/test/property_value_aggregate_test.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/sitewise/api/constants.go
  pkg/sitewise/api/property_aggregate_batch.go
  pkg/sitewise/api/property_history_batch.go
  pkg/sitewise/api/property_value_batch.go
  pkg/sitewise/api/util.go
  pkg/testdata/prop-val-for-time-range-1d-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1d-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1h-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1h-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-reduced-max-data-point-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-reduced-max-data-point-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-1m-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/property-history-values-boolean-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-associated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-empty-response-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-table-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
  pkg/testdata/property-history-values-with-batched-queries-A.golden.jsonc
  src/getNextQueries.ts
Due: frontend-lint, backend-format, spellcheck

release 1.25.0
  CHANGELOG.md
  package.json
Due: none

release 1.25.0 (#356)
  CHANGELOG.md
  package.json
Due: none

automated release 1.25.0
  dist/plugin.json
Due: spellcheck

Add dependabot for sdk
  .github/dependabot.yml
  cspell.config.json
Due: spellcheck

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
