Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

update yarn.lock
  yarn.lock
Due: none

force synckit and @pkgr/core versions
  yarn.lock
Due: none

fix input names
  .github/workflows/issue-commands.yml
Due: spellcheck

Set default region if empty
  pkg/server/handlers.go
  pkg/server/handlers_test.go
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
Due: frontend-lint, backend-format, spellcheck

Adjust tests
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
Due: frontend-lint, spellcheck

Check non nil
  pkg/server/handlers.go
Due: backend-format, spellcheck

Prepare 2.3.2
  CHANGELOG.md
  package.json
  pkg/main.go
Due: spellcheck

Error out early if default region is not set
  pkg/server/handlers.go
Due: backend-format, spellcheck

Remove whitespace
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

Fix tests
  pkg/server/handlers_test.go
  pkg/server/test/server_test.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

QueryData: Set default region if empty, prepare 2.3.2 (#556)
  CHANGELOG.md
  package.json
  pkg/main.go
  pkg/server/handlers_test.go
  pkg/server/test/server_test.go
  pkg/sitewise/datasource.go
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/regions.ts
Due: frontend-lint, backend-format, spellcheck

Removed smhd, Added IntersectionObserver library, type added for variableFormatter function, Debounce added in rowSQL generate code, name changed of mockAssetModels
  cspell.config.json
  jest-setup.js
  package.json
  src/components/query/sql-query-builder/SqlQueryBuilder.tsx
  src/components/query/sql-query-builder/StyledLabel.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.test.tsx
  src/components/query/sql-query-builder/clauses/FromClauseEditor.tsx
  src/components/query/sql-query-builder/hooks/useSQLQueryState.test.ts
  src/components/query/sql-query-builder/hooks/useSQLQueryState.ts
  src/components/query/sql-query-builder/types.ts
  src/components/query/sql-query-builder/utils/queryGenerator.ts
  src/variables.ts
  yarn.lock
Due: frontend-lint, spellcheck

Removed tailwind css class
  src/components/query/sql-query-builder/StyledLabel.test.tsx
  src/components/query/sql-query-builder/StyledLabel.tsx
Due: frontend-lint, spellcheck

add support for selecting multiple asset properties with regex and wildcard queries
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

Update create plugin
  .config/.cprc.json
  .config/.eslintrc
  .config/README.md
  .config/docker-compose-base.yaml
  .config/jest-setup.js
  .config/jest.config.js
  .config/jest/utils.js
  .config/tsconfig.json
  .config/types/bundler-rules.d.ts
  .config/types/webpack-plugins.d.ts
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  cspell.config.json
  package.json
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  yarn.lock
Due: frontend-lint, spellcheck

Update jest-env-jsdom
  package.json
  yarn.lock
Due: none

Update snapshots due to a change in the order of fields in api
  pkg/testdata/describe-asset-model-A.golden.jsonc
  pkg/testdata/describe-asset-model.json
Due: spellcheck

Reorder imports
  go.mod
  go.sum
Due: none

Dependencies: bump jest-env-jsdom, github.com/aws/aws-sdk-go-v2/config, github.com/aws/aws-sdk-go-v2 (#566)
  go.mod
  go.sum
  package.json
  yarn.lock
Due: none

Added testcase for the wildcard search with multiple property selection
  jest-setup.js
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
Due: frontend-lint, spellcheck

Fixed the lint issue
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

Support selecting multiple asset properties with wildcard. (#561)
  jest-setup.js
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
Due: frontend-lint, spellcheck

Update dependabot groups
  .github/dependabot.yml
Due: spellcheck

Update workflows and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/issue-commands.yml
  cspell.config.json
Due: spellcheck

bump plugin-e2e
  package.json
  yarn.lock
Due: none

Update dependabot groups (#586)
  .github/dependabot.yml
  package.json
  yarn.lock
Due: spellcheck

Update workflows and templates (#587)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/issue-commands.yml
  cspell.config.json
Due: spellcheck

use grafana ui components
  cspell.config.json
  src/SitewiseQueryEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
Due: frontend-lint, spellcheck

CD: Publish Github release directly, skipping draft step
  .github/workflows/publish.yaml
Due: spellcheck

remove jest__dom
  package.json
  yarn.lock
Due: none

Run go mod tidy
  go.sum
Due: none

Upgrade yarn to v4.10.3
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  .nvmrc
  .yarn/releases/yarn-4.10.3.cjs
  .yarnrc.yml
  cspell.config.json
  package.json
  yarn.lock
Due: spellcheck

Move docs
  README.md
  docs/sources/_index.md
  src/README.md
Due: spellcheck

CD: Publish Github release directly, skipping draft step (#598)
  .github/workflows/publish.yaml
Due: spellcheck

Chore: Move docs to docs/sources to enable publishing to website (#601)
  README.md
  docs/sources/_index.md
  src/README.md
Due: spellcheck

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
