Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

update @types/node to v24
  package.json
  yarn.lock
Due: none

bump @grafana/plugin-e2e to fix e2e tests
  package.json
  yarn.lock
Due: none

remove @types/glob stub packge
  package.json
  yarn.lock
Due: none

remove hardcoded go versions and standardize workflow extension to yml
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

temporarily disable react 19 preview image
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

Updated the PR changes diagnostic property name changes. Error handling for the corrupted JSON.Skip timestamp and handle anomaly_score explicitly
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

Implement JSON string parsing to extract anomaly-related fields for property query type
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

Fix nits and add mocks for tests
  pkg/server/test/property_value_aggregate_test.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
Due: backend-format, spellcheck

Implement JSON string parsing to extract anomaly-related fields for property query type (#704)
  pkg/server/test/property_value_aggregate_test.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

chore: support React 19 readiness
  .github/workflows/publish.yml
  .github/workflows/push.yml
  package.json
  yarn.lock
Due: spellcheck

chore: bump @grafana/aws-sdk to v0.10.1 for React 19 support
  package.json
  yarn.lock
Due: none

Prepare release 2.5.0
  CHANGELOG.md
  package.json
Due: none

chore: add pull-requests: read permission to publish workflow
  .github/workflows/publish.yml
Due: spellcheck

Bump e2e & playwright deps
  package.json
  yarn.lock
Due: none

fix(json): use caching to retrieve asset and property names correctly
  pkg/resource/caching_resource_provider.go
  pkg/resource/caching_resource_provider_test.go
  pkg/resource/query_resouce_provider.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/server_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

update plugins-e2e # with '#' will be ignored, and an empty message aborts the commit. # On branch fix-e2e # # modified: package.json #
  package.json
  yarn.lock
Due: none

Prepare release 2.5.1
  CHANGELOG.md
  package.json
Due: none

Fix panic for List Time Series query
  pkg/framer/list_time_series.go
  pkg/framer/list_time_series_test.go
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/migrations/migrateQuery.ts
Due: frontend-lint, backend-format, spellcheck

Fix panic for List Time Series query (#726)
  pkg/framer/list_time_series.go
  pkg/framer/list_time_series_test.go
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/migrations/migrateQuery.ts
Due: frontend-lint, backend-format, spellcheck

update changelog
  CHANGELOG.md
Due: none

Prepare release 2.5.1 (#731)
  CHANGELOG.md
  package.json
Due: none

Update renovate config to use data-sources base preset
  .github/renovate.json
  .yarnrc.yml
Due: spellcheck

Update renovate config to use data-sources base preset (#733)
  .github/renovate.json
  .yarnrc.yml
Due: spellcheck

Add sessionToken support for Grafana Assume Role
  pkg/models/setting.go
Due: backend-format, spellcheck

Prepare release 2.6.0
  CHANGELOG.md
  package.json
Due: none

Add sessionToken handling to support Grafana Assume Role (#741)
  pkg/models/setting.go
Due: backend-format, spellcheck

fix: resolve ESLint 10 compatibility issues
  eslint.config.mjs
  package.json
  src/SitewiseQueryEditor.tsx
  src/components/query/sql-query-builder/clauses/SelectClauseEditor.tsx
  yarn.lock
Due: frontend-lint, spellcheck

Bump @grafana/aws-sdk to 0.10.2
  package.json
  yarn.lock
Due: none

Add @grafana/runtime mock for usePluginInteractionReporter in tests
  src/components/ConfigEditor.test.tsx
Due: frontend-lint, spellcheck

Bump grafana-aws-sdk-react and prepare 2.6.0 release (#743)
  CHANGELOG.md
  package.json
  src/components/ConfigEditor.test.tsx
  yarn.lock
Due: frontend-lint, spellcheck

fix: use declared scalar type for timestamps instead of column name override
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

Update codeowners
  .github/CODEOWNERS
Due: none

fix e2e test by updating the empty state text
  package.json
  tests/queryEditor.spec.ts
  yarn.lock
Due: frontend-lint, spellcheck

fix: use declared scalar type for timestamps instead of column name override (#753)
  package.json
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/util.go
  tests/queryEditor.spec.ts
  yarn.lock
Due: frontend-lint, backend-format, spellcheck

Update codeowners (#761)
  .github/CODEOWNERS
Due: none

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
