Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

fix: client cache switch should control the correct query
  src/components/query/visual-query-builder/ClientCacheRow.tsx
Due: frontend-lint, spellcheck

Prepare release 2.1.0
  CHANGELOG.md
  package.json
Due: none

remove code editor specific commits from changelog
  CHANGELOG.md
Due: none

Prepare release 2.1.0 (#451)
  CHANGELOG.md
  package.json
Due: none

automated release 2.1.0
  dist/plugin.json
Due: spellcheck

Add support for listing associated assets for multiple assets (#439)
  pkg/server/handlers_test.go
  pkg/server/test/list_associated_assets_test.go
  pkg/sitewise/api/list_associated_assets.go
  pkg/testdata/const.go
  pkg/testdata/list-associated-assets-multiple-A.golden.jsonc
  pkg/testdata/list-associated-assets-multiple.json
Due: backend-format, spellcheck

Refactor query editor class components
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
Due: frontend-lint, spellcheck

chore: refactor additional class components (#445)
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
Due: frontend-lint, spellcheck

Chore: add label to external contributions
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: spellcheck

revert playwr
  package.json
  yarn.lock
Due: none

Downgrade playwright
  package.json
  yarn.lock
Due: none

Chore: add label to external contributions (#408)
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: spellcheck

revert and pin playwright/test
  package.json
  yarn.lock
Due: none

Migrate to new v2-style auth mechanism of grafana-aws-sdk
  cspell.config.json
  go.mod
  go.sum
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
Due: backend-format, spellcheck

fix: client cache switch should control the correct query
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
Due: frontend-lint, spellcheck

fix: client cache switch should control the correct query (#449)
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
Due: frontend-lint, spellcheck

fix: client cache should respect variable changes
  src/RelativeRangeRequestCache/cacheIdUtils.test.ts
  src/RelativeRangeRequestCache/cacheIdUtils.ts
  src/SitewiseDataSource.ts
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
Due: frontend-lint, spellcheck

fix: client cache should respect variable changes (#456)
  src/RelativeRangeRequestCache/cacheIdUtils.test.ts
  src/RelativeRangeRequestCache/cacheIdUtils.ts
  src/SitewiseDataSource.ts
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
Due: frontend-lint, spellcheck

chore: grafana instance version support warnning
  src/README.md
  src/plugin.json
Due: spellcheck

chore: grafana instance version support warning (#457)
  src/README.md
  src/plugin.json
Due: spellcheck

Prepare release 2.2.0
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

manually do changelog
  CHANGELOG.md
  cspell.config.json
Due: none

Prepare release 2.2.0 (#459)
  CHANGELOG.md
  package.json
Due: none

automated release 2.2.0
  dist/plugin.json
Due: spellcheck

fix: execute query pagination
  pkg/sitewise/api/execute_query.go
  src/README.md
  src/SitewiseQueryEditor.tsx
  tests/queryEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

DEBUG: dummy commit to trigger e2e workflow
  src/README.md
Due: spellcheck

e2e: use @grafana/plugin-e2e api to check config success
  tests/configEditor.spec.ts
Due: frontend-lint, spellcheck

e2e: use @grafana/plugin-e2e api to check config success (#466)
  tests/configEditor.spec.ts
Due: frontend-lint, spellcheck

Bump grafana-aws-sdk for v2 auth fix
  go.mod
  go.sum
Due: none

Update workflows
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/e2e.yml
  .github/workflows/issue-commands.yml
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: spellcheck

Update zizmor config and revert some action refs
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/e2e.yml
  .github/zizmor.yml
Due: spellcheck

Ignore rule
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: spellcheck

add vault tokens and zizmor config
  .github/workflows/issue-commands.yml
  .github/workflows/pr-commands.yml
  .github/zizmor.yml
Due: spellcheck

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
