Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

chore: update caching_resource_provider
  pkg/resource/caching_resource_provider.go
  pkg/resource/sitewise.go
Due: backend-format, spellcheck

bump @grafana/plugin-e2e to fix e2e tests
  package.json
  yarn.lock
Due: none

update playwright config to fix e2e tests
  playwright.config.ts
Due: frontend-lint

chore: add debug logs for raw property alias fallback (#756)
  package.json
  pkg/resource/caching_resource_provider.go
  pkg/resource/sitewise.go
  playwright.config.ts
  yarn.lock
Due: frontend-lint, backend-format, spellcheck

Update 2.6.0 changelog to prepare release
  CHANGELOG.md
Due: none

Update 2.6.0 changelog for latest main changes
  CHANGELOG.md
Due: none

Fix changelog spellcheck entry
  CHANGELOG.md
Due: none

Add CODEOWNERS to cspell dictionary
  cspell.config.json
Due: none

Update 2.6.0 changelog to prepare release (#762)
  CHANGELOG.md
  cspell.config.json
Due: none

Fixed CVEs
  package.json
  yarn.lock
Due: none

Updated version
  CHANGELOG.md
  package.json
Due: none

fixed typo
  cspell.config.json
Due: none

set enable scripts to false in .yarnrc.yml
  .yarnrc.yml
Due: none

Fixed failing tests
  tests/queryEditor.model.ts
Due: frontend-lint, spellcheck

set enable scripts to false in .yarnrc.yml (#781)
  .yarnrc.yml
  tests/queryEditor.model.ts
Due: frontend-lint, spellcheck

Suggest resource lookup interface for PR 723
  pkg/resource/caching_resource_provider.go
  pkg/resource/caching_resource_provider_test.go
  pkg/resource/query_resouce_provider.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

Use GATB in GitHub workflows
  .github/workflows/issue-commands.yml
Due: spellcheck

Use GATB in GitHub workflows (#785)
  .github/workflows/issue-commands.yml
Due: spellcheck

updated @grafana/create-plugin
  .config/.cprc.json
  .config/Dockerfile
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest/mocks/react-inlinesvg.tsx
  .config/tsconfig.json
  .config/types/setupTests.d.ts
  .config/webpack/webpack.config.ts
  docker-compose.yaml
  go.mod
  go.sum
  package.json
  yarn.lock
Due: frontend-lint, spellcheck

chore: update plugin-ci-workflows to v8.0.1
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

chore: update plugin-ci-workflows to v8.0.1 (#796)
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

chore: auto-audit fixes
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  go.mod
  package.json
Due: none

chore: pin .nvmrc to 24.15.0 and bump yarn.lock to v10 for yarn 4.15.0
  .nvmrc
  yarn.lock
Due: none

chore: go mod tidy
  go.mod
Due: none

chore: update create-plugin to 7.7.0
  .config/.cprc.json
  .config/Dockerfile
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest/mocks/react-inlinesvg.tsx
  .config/webpack/webpack.config.ts
  go.mod
  go.sum
  package.json
Due: frontend-lint, spellcheck

chore: move workflow permissions to job level
  .github/workflows/detect-breaking-changes.yml
  .github/workflows/stale.yml
Due: spellcheck

chore: approve react-data-grid git repo and refresh yarn.lock
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: update create-plugin to 7.7.0
  .config/.cprc.json
  .config/tsconfig.json
  .config/types/setupTests.d.ts
  .config/webpack/webpack.config.ts
  docker-compose.yaml
  package.json
  yarn.lock
Due: frontend-lint, spellcheck

security: remove approvedGitRepositories git dependency approval
  .yarnrc.yml
Due: none

chore: make grafanaDependency prerelease-inclusive
  src/plugin.json
Due: spellcheck

chore: make grafanaDependency prerelease-inclusive (#806)
  src/plugin.json
Due: spellcheck

Fix 400 error when batched property history queries paginate past completed entries
  pkg/sitewise/api/util.go
  pkg/sitewise/api/util_internal_test.go
Due: backend-format, spellcheck

fix(json): use caching to retrieve asset and property names correctly
  pkg/resource/caching_resource_provider_test.go
  pkg/resource/query_resouce_provider.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/server_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

Updating plugin-ci-workflows
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

Updating plugin-ci-workflows (#809)
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: spellcheck

docs: add signed commits requirement to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: add signed commits requirement to CONTRIBUTING.md (#810)
  CONTRIBUTING.md
Due: none

remove empty src/README.md
  src/README.md
Due: spellcheck
