Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

chore: Raw Editor FE tests
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

feat: Interpolation of raw query
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/language/macros.ts
Due: frontend-lint, backend-format, spellcheck

fix: Remove asset_root_id from asset fields
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/language/autoComplete.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
  tests/configEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

chore: Macros, Macro tests and Handler Tests
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/server/handlers_test.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/property-history-values-boolean-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-associated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-empty-response-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-table-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
  pkg/testdata/property-history-values-with-batched-queries-A.golden.jsonc
Due: backend-format, spellcheck

feat: Resolution macro
  pkg/framer/execute_query.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/language/macros.ts
Due: frontend-lint, backend-format, spellcheck

chore: Documentation
  docs/editor-switch.png
  src/README.md
Due: spellcheck

feat/fix: Improved code completion and bugfix
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

feat: Example queries in plugin Readme
  src/README.md
Due: spellcheck

feat: Field name autocompletion on raw code editor
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

feat: Region selector for raw query editor
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Fix tests
  pkg/sitewise/macros_test.go
Due: backend-format, spellcheck

feat: Convert event_timestampt to a time value
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
  src/components/ConfigEditor.tsx
Due: frontend-lint, backend-format, spellcheck

chore: More testing for execute query
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  src/SitewiseDataSource.ts
Due: frontend-lint, backend-format, spellcheck

chore: Update Readme to include necessary transforms
  docs/data_missing_time_field.png
  docs/data_transforms.png
  docs/table_view_of_data.png
  src/README.md
  src/SitewiseDataSource.ts
Due: frontend-lint, spellcheck

chore: Support future / correct types
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

fix: Undefined error constant
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
Due: backend-format, spellcheck

go mod tidy
  go.mod
  lefthook.yml
Due: none

Migrate to plugin-ui
  package.json
  src/components/ConfigEditor.tsx
  src/components/query/ClientCacheRow.tsx
  src/components/query/ListAssetsQueryEditor.tsx
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/PropertyQueryEditor.tsx
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.tsx
  src/components/query/QueryOptions.tsx
  yarn.lock
Due: frontend-lint, spellcheck

update grafana dep
  src/plugin.json
Due: spellcheck

Add compatibility info
  README.md
Due: none

Fix spelling
  README.md
Due: none

Migrate to plugin-ui from grafana/experimental (#384)
  README.md
  package.json
  src/components/ConfigEditor.tsx
  src/components/query/ClientCacheRow.tsx
  src/components/query/ListAssetsQueryEditor.tsx
  src/components/query/ListTimeSeriesQueryEditor.tsx
  src/components/query/PropertyQueryEditor.tsx
  src/components/query/QualityAndOrderRow.tsx
  src/components/query/QueryEditor.tsx
  src/components/query/QueryOptions.tsx
  src/plugin.json
  yarn.lock
Due: frontend-lint, spellcheck

Prepare 2.0.0
  CHANGELOG.md
  package.json
Due: none

Prepare 2.0.0 (#415)
  CHANGELOG.md
  package.json
Due: none

automated release 2.0.0
  dist/plugin.json
Due: spellcheck

feat: Auto completion for raw code editor
  cspell.config.json
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/handlers.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/dataRequestResponses.ts
  src/language/autoComplete.ts
  src/language/macros.ts
  src/types.ts
  tests/configEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

chore: sitewiseCache tests
  src/dataRequestResponses.ts
  src/migrations/migrateQuery.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

chore: Update packages and remove simple deprecations
  package.json
  src/components/query/QueryEditor.tsx
  src/dataFrameUtils.ts
  yarn.lock
Due: frontend-lint, spellcheck

feat: Rough container to switch between query editor and builder
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/module.ts
  src/types.ts
Due: frontend-lint, spellcheck

feat: Run SQL queries on backend
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
  pkg/framer/list_asset_properties.go
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/datasource.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/components/query/visual-query-builder/types.ts
  src/variables.ts
Due: frontend-lint, spellcheck

feat: Working CodeEditor
  pkg/framer/fields/fields.go
  pkg/framer/fields/util.go
  pkg/models/model.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
