Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

Add add-to-project workflow and remove issue_commands
  .github/workflows/add-to-project.yml
  .github/workflows/issue-commands.yml
Due: spellcheck

Add add-to-project workflow and remove issue_commands (#812)
  .github/workflows/add-to-project.yml
  .github/workflows/issue-commands.yml
Due: spellcheck

chore: use shared data-sources Renovate base preset
  .github/renovate.json
Due: spellcheck

chore: use shared data-sources Renovate base preset (#814)
  .github/renovate.json
Due: spellcheck

fix(json): use caching to retrieve asset and property names correctly
  pkg/resource/caching_resource_provider_test.go
  pkg/resource/query_resouce_provider.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/server_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

fix(json): use caching to retrieve asset and property names correctly (#723)
  pkg/resource/caching_resource_provider_test.go
  pkg/resource/query_resouce_provider.go
  pkg/server/test/property_value_history_test.go
  pkg/server/test/property_value_test.go
  pkg/server/test/property_values_for_time_range_test.go
  pkg/server/test/server_test.go
  pkg/server/test/utils.go
  pkg/sitewise/json_mapping.go
  pkg/sitewise/json_mapping_test.go
  pkg/sitewise/response_processor.go
Due: backend-format, spellcheck

ci: add stale issue and PR workflow
  .github/workflows/stale.yml
Due: spellcheck

Fix workflow name
  .github/workflows/push.yml
Due: spellcheck

Fix workflow name (#816)
  .github/workflows/push.yml
Due: spellcheck

ci: add stale issue and PR workflow (#815)
  .github/workflows/stale.yml
Due: spellcheck

Chore: package manager migration from yarn to npm
  .gitignore
  .npmrc
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  cspell.config.json
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

ci: use shared reusable stale workflow
  .github/workflows/stale.yml
Due: spellcheck

ci: use shared reusable add-to-project workflow
  .github/workflows/add-to-project.yml
Due: spellcheck

ci: use shared reusable stale workflow (#822)
  .github/workflows/stale.yml
Due: spellcheck

ci: use shared reusable add-to-project workflow (#823)
  .github/workflows/add-to-project.yml
Due: spellcheck

created separate topic docs
  docs/sources/_index.md
  docs/sources/alerting.md
  docs/sources/annotations.md
  docs/sources/configure.md
  docs/sources/query-editor.md
  docs/sources/template-variables.md
  docs/sources/troubleshooting.md
Due: spellcheck

added a makefile to view local builds
  docs/Makefile
  docs/docs.mk
  docs/make-docs
  docs/variables.mk
Due: none

updates the intro page
  docs/sources/_index.md
Due: spellcheck

updated configure, augmeneted PDC section and added Terraform instructions
  docs/sources/configure.md
Due: spellcheck

updated query editor
  docs/sources/query-editor.md
Due: spellcheck

updated template variables, added more examples
  docs/sources/template-variables.md
Due: spellcheck

augmented the annotations doc
  docs/sources/annotations.md
Due: spellcheck

updated alerting
  docs/sources/alerting.md
Due: spellcheck

updated the troubleshooting guide, added content from Zendesk cases
  docs/sources/troubleshooting.md
Due: spellcheck

final edits
  docs/sources/query-editor.md
Due: spellcheck

create-plugin update
  .config/.cprc.json
  .config/Dockerfile
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest/mocks/react-inlinesvg.tsx
  .config/tsconfig.json
  .config/types/setupTests.d.ts
  .config/webpack/webpack.config.ts
  docker-compose.yaml
  go.mod
  go.sum
  package.json
  yarn.lock
Due: frontend-lint, spellcheck

added aliases
  docs/sources/alerting.md
  docs/sources/annotations.md
  docs/sources/configure.md
  docs/sources/query-editor.md
  docs/sources/template-variables.md
  docs/sources/troubleshooting.md
Due: spellcheck

Fix mock
  tests/mocks/react-inlinesvg.tsx
Due: frontend-lint, spellcheck

Bump grafana dependencies
  .yarnrc.yml
  cspell.config.json
  jest-setup.js
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Fix workflow
  .github/workflows/detect-breaking-changes.yml
Due: spellcheck

Resolve critical CVEs
  package.json
  yarn.lock
Due: none

fix yarn
  .yarnrc.yml
Due: none

fix cspell
  cspell.config.json
Due: none

fix lint
  .config/types/webpack-plugins.d.ts
  package.json
  playwright.config.ts
Due: frontend-lint, spellcheck

Bump dependencies
  yarn.lock
Due: none

Bump dependencies (#829)
  yarn.lock
Due: none

fix typecheck
  src/components/browser/AssetBrowser.tsx
Due: frontend-lint, spellcheck

Bump grafana/* dependencies (#825)
  .config/.cprc.json
  .config/Dockerfile
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/jest/mocks/react-inlinesvg.tsx
  .config/tsconfig.json
  .config/types/setupTests.d.ts
  .config/types/webpack-plugins.d.ts
  .config/webpack/webpack.config.ts
  .github/workflows/detect-breaking-changes.yml
  .yarnrc.yml
  cspell.config.json
  docker-compose.yaml
  go.mod
  go.sum
  jest-setup.js
  jest.config.js
  package.json
  playwright.config.ts
  src/components/browser/AssetBrowser.tsx
  tests/mocks/react-inlinesvg.tsx
  yarn.lock
Due: frontend-lint, spellcheck

Bump @grafana/* to 13.1.1 and update dependencies
  package.json
  yarn.lock
Due: none

Bump @grafana/* to 13.1.1 and update dependencies (#830)
  package.json
  yarn.lock
Due: none
