Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

spellcheck:
  run: yarn cspell -c cspell.config.json {staged_files}

chore: rebase main and update dependencies
  package.json
  yarn.lock
Due: none

chore: Update packages and remove simple deprecations
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  yarn.lock
Due: frontend-lint, spellcheck

chore: rebase main
  yarn.lock
Due: none

refac: Remove @grafana/experimental
  package.json
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  yarn.lock
Due: frontend-lint, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: rebase cleanup
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

fix: Handler test
  pkg/server/handlers_test.go
Due: backend-format, spellcheck

feat: Support nested variable UX for modelId
  src/common/useOptionsWithVariables.ts
  src/components/query/AggregationSettings/AggregationSettings.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

feat: support template var for interpolated resolution; make UX consistent
  src/components/query/visual-query-builder/AggregationSettings/AggregatePicker.tsx
  src/components/query/visual-query-builder/AggregationSettings/AggregationSettings.tsx
  src/components/query/visual-query-builder/InterpolatedResolutionSettings.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
Due: frontend-lint, spellcheck

fix(QueryEditor): Ensure the correct fields appear for the given query selected
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
  src/components/query/visual-query-builder/QueryOptions/QualitySettings.tsx
  src/components/query/visual-query-builder/QueryOptions/QueryOptions.tsx
  src/components/query/visual-query-builder/QueryOptions/ResponseFormatSettings.tsx
  src/components/query/visual-query-builder/QueryOptions/TimeOrderSettings.tsx
  src/types.ts
Due: frontend-lint, spellcheck

feat: Support nested variable UX for modelId (#432)
  src/common/useOptionsWithVariables.ts
  src/components/query/AggregationSettings/AggregationSettings.tsx
  src/components/query/visual-query-builder/ListAssetsQueryEditor.tsx
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

fix(QueryEditor): Ensure the correct fields appear for the given query selected
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
  src/components/query/visual-query-builder/QueryOptions/QualitySettings.tsx
  src/components/query/visual-query-builder/QueryOptions/QueryOptions.tsx
  src/components/query/visual-query-builder/QueryOptions/ResponseFormatSettings.tsx
  src/components/query/visual-query-builder/QueryOptions/TimeOrderSettings.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, spellcheck

feat: support template var for interpolated resolution; make UX consi… (#433)
  src/components/query/visual-query-builder/AggregationSettings/AggregatePicker.tsx
  src/components/query/visual-query-builder/AggregationSettings/AggregationSettings.tsx
  src/components/query/visual-query-builder/InterpolatedResolutionSettings.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/QueryOptions.tsx
Due: frontend-lint, spellcheck

Add support for listing associated assets for multiple assets
  pkg/server/handlers_test.go
  pkg/server/test/list_associated_assets_test.go
  pkg/sitewise/api/list_associated_assets.go
  pkg/testdata/const.go
  pkg/testdata/list-associated-assets-multiple-A.golden.jsonc
  pkg/testdata/list-associated-assets-multiple.json
Due: backend-format, spellcheck

fix: remove unsupported regions
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/components/ConfigEditor.tsx
  src/components/browser/AssetBrowser.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/regions.ts
  src/sitewiseCache.ts
  src/types.ts
Due: frontend-lint, spellcheck

fix: remove unsupported regions (#441)
  src/SitewiseDataSource.test.ts
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/components/ConfigEditor.tsx
  src/components/browser/AssetBrowser.tsx
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/regions.ts
  src/sitewiseCache.ts
  src/types.ts
Due: frontend-lint, spellcheck

chore: refactor MetadataInspector implementation to functional component
  src/components/MetaInspector.tsx
  src/components/MetadataInspector.tsx
  src/getNextQueries.ts
  src/module.ts
  src/types.ts
Due: frontend-lint, spellcheck

chore: remove dead client-side code
  src/common/getSelectionInfo.ts
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/queryResponseTypes.ts
  src/types.ts
Due: frontend-lint, spellcheck

chore remove dead code (#443)
  src/common/getSelectionInfo.ts
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/queryResponseTypes.ts
  src/types.ts
Due: frontend-lint, spellcheck

chore refactor metadata inspector (#442)
  src/components/MetaInspector.tsx
  src/components/MetadataInspector.tsx
  src/getNextQueries.ts
  src/module.ts
  src/types.ts
Due: frontend-lint, spellcheck

wip-tag-filter
  pkg/models/setting.go
  pkg/sitewise/api/filtering_util.go
  pkg/sitewise/api/get_resources_tags.go
  pkg/sitewise/api/list_assets.go
  pkg/sitewise/api/list_associated_assets.go
  pkg/sitewise/api/test_data_test.go
  pkg/sitewise/client/tagging_api_client.go
  pkg/sitewise/datasource.go
  src/components/ConfigEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

spell
  cspell.config.json
Due: none

chore: tag api parallelization
  pkg/sitewise/client/tagging_api_client.go
Due: backend-format, spellcheck

chore: small clean-ups
  pkg/models/setting.go
  pkg/sitewise/api/get_resources_tags.go
  pkg/sitewise/client/tagging_api_client.go
Due: backend-format, spellcheck

chore: refactor PropertyQueryEditor and QualityAndOrderRow to functional components
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/QualityAndOrderRow.tsx
Due: frontend-lint, spellcheck

fix: fix pagination and deafult query for ExecuteQuery API
  pkg/framer/execute_query.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/README.md
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/language/macros.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

fix: fix pagination and deafult query for ExecuteQuery API, alter macros (#444)
  pkg/framer/execute_query.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/README.md
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/language/macros.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

chore(PropertyQueryEditor): disabled multiple property selection until a better UX is designed around pairing assets and properties
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: style fixes
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/types.ts
Due: frontend-lint, spellcheck

chore(PropertyQueryEditor): disabled multiple property selection until a better UX is designed around pairing assets and properties
  src/components/query/visual-query-builder/PropertyQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.test.tsx
  src/types.ts
Due: frontend-lint, spellcheck

fix: disabled code editor and client cache to prepare for release
  src/README.md
  src/SitewiseQueryEditor.tsx
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

fix: disabled code editor and client cache to prepare for release (#448)
  src/README.md
  src/SitewiseQueryEditor.tsx
  src/components/query/visual-query-builder/ClientCacheRow.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
  spellcheck: any of: **/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}
