Repository grafana/iot-sitewise-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format, spellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      glob: '**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}'
      run: yarn cspell -c cspell.config.json {staged_files}

feat: Run SQL queries on backend
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
  pkg/framer/list_asset_properties.go
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/datasource.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/queryInfo.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

feat: Working CodeEditor
  pkg/framer/fields/fields.go
  pkg/framer/fields/util.go
  pkg/models/model.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/types.ts
Due: frontend-lint, backend-format, spellcheck

feat: Auto completion for raw code editor
  cspell.config.json
  pkg/models/model.go
  pkg/models/query.go
  pkg/server/handlers.go
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/dataRequestResponses.ts
  src/language/autoComplete.ts
  src/language/macros.ts
  src/types.ts
  tests/configEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

feat: Rough container to switch between query editor and builder
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/components/query/query-editor-raw/types.ts
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/module.ts
  src/types.ts
Due: frontend-lint, spellcheck

chore: sitewiseCache tests
  src/dataRequestResponses.ts
  src/migrations/migrateQuery.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
Due: frontend-lint, spellcheck

feat: Region selector for raw query editor
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Documentation
  docs/editor-switch.png
  src/README.md
Due: spellcheck

chore: Raw Editor FE tests
  tests/queryEditor.spec.ts
Due: frontend-lint, spellcheck

chore: Fix tests
  pkg/sitewise/macros_test.go
Due: backend-format, spellcheck

feat/fix: Improved code completion and bugfix
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

fix: Remove asset_root_id from asset fields
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/language/autoComplete.ts
  src/sitewiseCache.test.ts
  src/sitewiseCache.ts
  tests/configEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

chore: Macros, Macro tests and Handler Tests
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/server/handlers_test.go
  pkg/sitewise/api/execute_query_test.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-A.golden.jsonc
  pkg/testdata/prop-val-for-time-range-raw-data-for-time-range-from-alias-A.golden.jsonc
  pkg/testdata/property-history-values-boolean-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-associated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-boolean-with-disassociated-stream-empty-response-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-table-A.golden.jsonc
  pkg/testdata/property-history-values-from-alias-timeseries-A.golden.jsonc
  pkg/testdata/property-history-values-with-batched-queries-A.golden.jsonc
Due: backend-format, spellcheck

feat: Example queries in plugin Readme
  src/README.md
Due: spellcheck

feat: Resolution macro
  pkg/framer/execute_query.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/language/macros.ts
Due: frontend-lint, backend-format, spellcheck

feat: Field name autocompletion on raw code editor
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

feat: Interpolation of raw query
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/language/macros.ts
Due: frontend-lint, backend-format, spellcheck

chore: More testing for execute query
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  src/SitewiseDataSource.ts
Due: frontend-lint, backend-format, spellcheck

chore: Update Readme to include necessary transforms
  docs/data_missing_time_field.png
  docs/data_transforms.png
  docs/table_view_of_data.png
  src/README.md
  src/SitewiseDataSource.ts
Due: frontend-lint, spellcheck

chore: Support future / correct types
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

fix: Undefined error constant
  pkg/sitewise/macros.go
  pkg/sitewise/macros_test.go
Due: backend-format, spellcheck

feat: Convert event_timestampt to a time value
  pkg/framer/execute_query.go
  pkg/framer/fields/util.go
Due: backend-format, spellcheck

chore: rebase main and update dependencies
  package.json
  yarn.lock
Due: none

chore: Update Readme and clarify auto complete code
  docs/data_transforms.png
  docs/editor-switch.png
  docs/timeseries_data.png
  src/README.md
  src/language/autoComplete.ts
Due: frontend-lint, spellcheck

refac: Remove @grafana/experimental
  package.json
  src/SitewiseQueryEditor.tsx
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
  src/language/macros.ts
  yarn.lock
Due: frontend-lint, spellcheck

refac: Clean up RawQueryEditor
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
Due: frontend-lint, spellcheck

fix: Account for event_timestamp values in seconds
  pkg/framer/execute_query.go
Due: backend-format, spellcheck

chore: Clean up code as requested in !418
  cspell.config.json
  pkg/framer/execute_query.go
  pkg/framer/execute_query_test.go
  pkg/framer/fields/fields.go
  pkg/models/model.go
  pkg/server/handlers.go
  pkg/server/server.go
  pkg/sitewise/client/client.go
  pkg/sitewise/datasource.go
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  src/language/autoComplete.ts
  src/types.ts
  tests/queryEditor.spec.ts
Due: frontend-lint, backend-format, spellcheck

chore: Clean up Raw / SitewiseQueryEditor
  src/SitewiseDataSource.ts
  src/SitewiseQueryEditor.tsx
  src/components/query/query-editor-raw/RawQueryEditor.tsx
  yarn.lock
Due: frontend-lint, spellcheck

refac: Use InlineSelect from grafana/plugin-ui
  src/SitewiseQueryEditor.tsx
Due: frontend-lint, spellcheck

fix: Page through ExecuteQuery results
  pkg/framer/execute_query.go
  pkg/sitewise/api/execute_query.go
Due: backend-format, spellcheck

chore: Give a working query as an example for the rawTimeFrom macro
  src/README.md
Due: spellcheck

chore: Style fix
  pkg/sitewise/api/execute_query_test.go
Due: backend-format, spellcheck

chore: Further cleanup
  pkg/framer/execute_query.go
  src/sitewiseCache.ts
Due: frontend-lint, backend-format, spellcheck

chore: Fix execute_query tests
  pkg/sitewise/api/execute_query.go
  pkg/sitewise/api/execute_query_test.go
Due: backend-format, spellcheck

fix: Ensure default raw query is set in later versions of Grafana
  src/SitewiseDataSource.ts
  src/components/query/query-editor-raw/RawQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Clean up Raw / SitewiseQueryEditor
  yarn.lock
Due: none

refac: Remove @grafana/experimental
  package.json
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  yarn.lock
Due: frontend-lint, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
Due: frontend-lint, spellcheck

chore: Rename QueryBuilder to VisualQueryBuilder
  src/components/query/visual-query-builder/ListTimeSeriesQueryEditor.tsx
  src/components/query/visual-query-builder/VisualQueryBuilder.tsx
Due: frontend-lint, spellcheck
